/* Global */
body {
    color: white;
    font-family: sinclairmed;
    background-image: linear-gradient(180deg, #0c262d , #061417)
}

h2 {
    font-size: 2em;
    background-color: yellow;
    color: #0c262d;
    position: static;
}

@font-face {
    font-family: sinclairmed;
    src: url(fonts/FSSinclairMedium.otf);
}

@font-face {
    font-family: sinclairreg;
    src: url(fonts/FSSinclairRegular.otf);
}



/* Meeting Title & Date */  
.headerlogo {
    height: auto;
    width: 35%;
    display: block;
    margin-top: 1.5cm;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    filter: invert(1);
    position: sticky;
}

header {
    margin-bottom: 1cm;
}

.background-image {
    background-image: url(assets/background-image.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: auto;
    opacity: 0.8;
    position: relative;
    top: 5px;
}


.headertitle {
    text-align: center;
    color: rgb(255,255,255);
    margin-bottom: 1mm;
    font-size: 3.5rem;
}

.headerdate {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 1mm;
    font-family: sinclairreg;
    background-color: #061417;
}

hr {
    border-style: solid;
    border-width: 2.5px;
    border-color: #FFF;
    border-radius: 10Q;

    margin: auto 2.5cm auto 2.5cm;
}

.headertopic {
    text-align: center;
    margin-bottom: 1cm;
}

.center.div {
    min-width: 1px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1cm;
}

.attend-title {
    margin-bottom: 1mm;
    color: hsl(60, 100%, 50%);
    text-align: center;
}

.summary-title {
    margin-bottom: 1mm;
    margin-top: 1mm;
    color: hsla(60, 100%, 50%, 1);
}

.tableofcontents {
    color: color(srgb 1 1 0);
}

.hyperLinkColor {
    color: color-mix(in srgb, red 0%, rgb(135, 206, 235) 100%)
}

.centerList {
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 60px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.summaryInfo {
    text-align: center;
    display: block;
    padding: 1px 1px 1px 1px;
}

.centerDiv, .centerSection{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
}


.stars {
    font-size: 2em;
}

/* Custom CSS variable and fallback */

@property --yellow-color {
    syntax: "<color>";
    inherits: false;
    initial-value: yellow;
}

.fallbacktest {
    color: var(--unknown-color, yellow);
    margin-bottom: 10px;
}

/* Agenda Content */
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Grid Display Layout for Star */
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1cm;
}

.child1 {
    margin: auto;
    width: 100%;
    grid-column-start: 1;
}

.child2 {
    grid-column-start: 2;
}

.child3 {
    margin: auto;
    width: 100%;
    grid-column-start: 3;
}

/* Flexbox */
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    list-style: none;
    margin-bottom: 7vh;
}

.flexitem {
    flex: 0 1 auto;
    align-self: center;
}

.unknown-image {
    width: 256px;
    height: 256px;
}

/* Contact Form */
.submitButton {
    font-family: sinclairmed;
    width: 10vw;
    height: 10vh;
    font-size: 200%;
    text-align: center;
}

.submitButton:hover {
    background-color: yellow;
    color: black;
}

.submitButton:active {
    box-shadow: 5px 5px rgba(255, 255, 0, 0.593);
}


/* Media Query Based on Screen Size */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .headerlogo {
        width: 80%;
    }
    
    .headertitle {
        font-size: 3rem;
    }

    .headerdate {
        font-size: 1rem;
    }

    .parent, .child1, .child2, .child3, .img-flex, .unknown-image {
        display: none;
    }

    .flexbox {
        font-size: 10px;
    }

    img {
        width: 50%;
    }

    .summaryInfo {
        font-size: 15px;
    }

    .submitButton {
        width: 2cm;
        height: 5vh;
        font-size: 100%;
    }
}